@import 'tailwindcss';

@font-face {
  font-family: pokemon;
  src: url('fonts/pokemon-ds-font.ttf');
}

:root {
  --spacing: 0.2rem;
}

html {
  font-family: pokemon;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
}
